In [1]:
import pandas as pd
a=pd.read_csv(r"C:\Users\jagad\Desktop\MACHINE_LEARNING\Titanic-Dataset.csv")

In [2]:
b=a.isnull().sum()
print(b)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
a=a.drop_duplicates()

In [4]:
a['Age']=a['Age'].fillna(a['Age'].median())
a['Embarked'] = a['Embarked'].fillna(a['Embarked'].mode()[0])  
a['Cabin'] = a['Cabin'].fillna("Unknown")

In [5]:
class_survival = a.groupby('Pclass')['Survived'].mean()
gender_survival = a.groupby('Sex')['Survived'].mean()

In [6]:
print(class_survival)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [7]:
print(gender_survival)

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [8]:
with open("titanic_summary.csv", "w") as f:
    f.write(" Null Values After Cleaning \n")
    a.isnull().sum().to_csv(f)
    f.write("\n\nSurvival by Class\n")
    class_survival.to_csv(f)
    f.write("\n\nSurvival by Gender\n")
    gender_survival.to_csv(f)

In [9]:
print("Summary exported to titanic_summary.csv")

Summary exported to titanic_summary.csv