In [1]:
print("python programming")

def item(n):
    print(n)

item("sprite")

item_one = "lemon drink"
item_two = "coca-cola"
item_three = "ice-cream"

python programming
sprite

In [2]:
age = 65

if age < 13:
    print("Child")
elif age < 20:
    print("Teenager")
elif age < 60:
    print("Adult")
else:
    print("Senior")

Senior

In [3]:
age = 26
day = "Wednesday"

price = 12 if age >= 18 else 8

if day == "Wednesday":
    # price = price - 2
    price -= 2

print("Ticket price for you is $",price)

Ticket price for you is $ 10

In [4]:
score = 185

if score >= 101:
    print("Please verify your grade again")
    exit()

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print("Grade: ", grade)

Please verify your grade again
Grade:  A

In [5]:
fruit = "Banana"
color = "Yellow"

if fruit == "Banana":
    if color == "Green":
        print("Unripe")
    elif color == "Yellow":
        print("Ripe")
    elif color == "Brown":
        print("OverRipe")

Ripe

In [6]:
weather = "Sunny"

if weather == "Sunny":
    activity = "Go for a walk"
elif weather == "Rainy":
    activity = "Read a book"
elif weather == "Snowy":
    activity = "Build a snowman"

print(activity)

Go for a walk

In [7]:
year = 2023

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print( year, " is a leap year")
else:
    print(year, "is NOT a leap year")

2023 is NOT a leap year

In [8]:
numbers = [1, -2, 3, -4, 5, 6, -7, -8, 9, 10]
positive_number_count = 0
for num in numbers:
    if num > 0:
        positive_number_count += 1
print("Final count of Positive number is: ", positive_number_count)

Final count of Positive number is:  6

In [9]:
n = 10
sum_even = 0

for i in range(1, n+1):
    if i%2 == 0:
        sum_even += 1

print("Sum of even number is: , ", sum_even)

Sum of even number is: ,  5

In [10]:
number = 3

for i in range(1, 11):
    if i == 5:
        continue
    print(number, 'x', i, '=', number * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [11]:
input_str = "teeteracdacd"

for char in input_str:
    print(char)
    if input_str.count(char) == 1:
        print("Char is: ", char)
        break

t
e
e
t
e
r
Char is:  r

In [12]:
number = 28
is_prime = True
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            is_prime = False
            break
print(is_prime)

False

In [13]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [14]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [15]:
[len(word) for word in ['apple', 'banana', 'cherry']]

[5, 6, 6]

In [16]:
[char for char in 'hello' if char in 'aeiou']

['e', 'o']

In [17]:
[num for row in [[1,2],[3,4]] for num in row]

[1, 2, 3, 4]

In [18]:
{x: x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [19]:
{char: char.upper() for char in 'abc'}

{'a': 'A', 'b': 'B', 'c': 'C'}

In [20]:
def square(number):
    return number ** 2
result = square(4)
print(16)

16

In [ ]:
def add(numOne, numTwo):
    return numOne + numTwo
print(add(5, 5))

In [ ]:
def multiply(p1, p2):
    return p1 * p2
print(multiply(8, 5))
print(multiply('a', 5))
print(multiply(5, 'a'))

In [ ]:
import math
def circle_stats(radius):
    area = math.pi * radius ** 2
    circumference = 2 * math.pi * radius
    return area, circumference
a, c = circle_stats(3)
print("Area: ", a, "Circumference: ", c)

In [ ]:
def sum_all(*args):
    print(args)
    for i in args:
        print(i * 2)
    return sum(args)

print(sum_all(1, 2, 3))

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model
        Car.total_car += 1

    def get_brand(self):
        return self.__brand + " !"

    def full_name(self):
        return f"{self.__brand} {self.__model}"
    
    def fuel_type(self):
        return "Petrol or Diesel"
    
    @staticmethod
    def general_description():
        return "Cars are means of transport"
    
    @property
    def model(self):
        return self.__model
    


class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type():
        return "Electric charge"


# my_tesla = ElectricCar("Tesla", "Model S", "85kWh")

# print(isinstance(my_tesla, Car))
# print(isinstance(my_tesla, ElectricCar))

# print(my_tesla.__brand)
# print(my_tesla.fuel_type())

# my_car = Car("Tata", "Safari")
# my_car.model = "City"
# Car("Tata", "Nexon")


# print(my_car.general_description())
# print(my_car.model)


# my_car = Car("Toyota", "Corolla")
# print(my_car.brand)
# print(my_car.model)
# print(my_car.full_name())

# my_new_car = Car("Tata", "Safari")
# print(my_new_car.model)



class Battery:
    def battery_info(self):
        return "this is battery"

class Engine:
    def engine_info(self):
        return "This is engine"

class ElectricCarTwo(Battery, Engine, Car):
    pass

my_new_tesla = ElectricCarTwo("Tesla", "Model S")
print(my_new_tesla.engine_info())
print(my_new_tesla.battery_info())

In [ ]:
[{"name": "python", "time": "50 mins"}, {"name": "data-science", "time": "14 hours"}]

In [ ]:
# file = open('example.txt', 'r')
# content = file.read()
# file.close()

In [ ]:
# file = open('example.txt', 'r')
# lines = file.readlines()
# file.close()

In [ ]:
# file = open('example.txt', 'r')
# first_line = file.readline()
# file.close()

In [ ]:
# file = open('output.txt', 'w')
# lines = ['Line 1\n', 'Line 2\n', 'Line 3\n']
# file.writelines(lines)
# file.close()

In [ ]:
# file = open('output.txt', 'a')
# file.write('New content appended')
# file.close()

In [ ]:
# with open('example.txt', 'r') as file:
#     for line in file:
#         print(line.strip())

In [ ]:
# try:
#     with open('nonexistent.txt', 'r') as file:
#         content = file.read()
# except FileNotFoundError:
#     print("File not found")

In [ ]:
# with open('example.txt', 'r') as input_file, open('copy.txt', 'w') as output_file:
#     content = input_file.read()
#     output_file.write(content)